[data-block-plugin-id="block_content:7f5442f2-db23-4c15-a680-bca0d021be4e"] {
  * {
    border: none;
  }

  table, tbody {
    display: block;

    img {
      height: 40px;
      width: 40px;
    }
  }

  tr {
    display: flex;
  }

  td {
    display: block;
  }


}
