@mixin half-round {
  border-radius: 0 1em;
  overflow: hidden;
}

@mixin table-to-half-round-cards {
  table:has(tr:first-child:last-child) {
    --card-padding: 1rem;

    &, tbody {
      display: block;
      border: none;
      background: transparent;
    }

    tr:first-child:last-child {
      &:has(td:nth-child(1):last-child),
      &:has(td:nth-child(2):last-child),
      &:has(td:nth-child(3):last-child),
      &:has(td:nth-child(4):last-child),
      &:has(td:nth-child(5):last-child) {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(var(--cols), 1fr);
      }

      &:has(td:nth-child(1):last-child),
      &:has(td:nth-child(2):last-child) {
        --cols: 2;
      }

      &:has(td:nth-child(3):last-child) {
        --cols: 3;
      }

      &:has(td:nth-child(4):last-child) {
        --cols: 4;
      }

      &:has(td:nth-child(5):last-child) {
        --cols: 5;
      }
    }

    td {
      background: white;
      padding: var(--card-padding);
      border: none;
      @include half-round;

      &:empty {
        display: none;
      }
    }

    p[class*=callout] {
      margin-top: calc(-1 * var(--card-padding));
      margin-inline: calc(-1 * var(--card-padding));
      font-size: 1.5em;
      padding-block: .15em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 5.25em;
    }
  }
}

.hws--table-to-half-round & {
  @include table-to-half-round-cards;
}
