/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 69 | .hws--table-to-half-round & {
 *    |                           ^
 *    '
 *   styles/scss/hws-components/_half-round.scss 69:27         @use
 *   styles/scss/ucr-custom-blocks/_expanding-card.scss 1:1    @use
 *   styles/scss/ucr-custom-blocks/ucr-custom-blocks.scss 3:1  @use
 *   styles/scss/main.scss 2:1                                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 69 \2502  .hws--table-to-half-round & {\a    \2502                            ^\a    \2575 \a   styles/scss/hws-components/_half-round.scss 69:27         @use\a   styles/scss/ucr-custom-blocks/_expanding-card.scss 1:1    @use\a   styles/scss/ucr-custom-blocks/ucr-custom-blocks.scss 3:1  @use\a   styles/scss/main.scss 2:1                                 root stylesheet';
}
