.hero-slider.hero-slider {
  .slider-text-bg-container {
    background: transparent;

    .slider-text-container {
      .slider-text-area {
        background: rgba(0, 0, 0, 0.8);
        padding-block: 2em;
      }
    }
  }
}

