@use "../hws-components/half-round";


div.card {
  --bg-color: var(--color-gray-10);

  .card__expander {
    background: var(--bg-color);
    color: var(--color-black);
    border: none;
    box-shadow: none;
  }

  .card__inner {
    box-shadow: none;
  }

  .expanding-card-background {
    @include half-round.half-round(false);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &.is-expanded .card__inner::after {
    border-bottom-color: var(--bg-color);
  }


  @at-root .hws--expanding-cards-table-to-half-round & {
    .card_expander_body {

      // A table with only one row
      @include half-round.tables-to-half-round-cards;
    }
  }

}
