@use "../hws-components/half-round";


div.card {
  --bg-color: var(--color-gray-10);

  .card__expander {
    background: var(--bg-color);
    color: var(--color-black);
    border: none;
    box-shadow: none;
  }

  .card__inner {
    box-shadow: none;
  }

  .expanding-card-background {
    @include half-round.half-round(false);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &.is-expanded .card__inner {
    background: none;

    &::after {
      border-bottom-color: var(--bg-color);
    }
  }


  @at-root .hws--expanding-cards-table-to-half-round & {
    .card_expander_body {

      // A table with only one row
      @include half-round.tables-to-half-round-cards;
    }
  }

  @at-root .hws--expanding-cards-square & {
    .card__inner {
      aspect-ratio: 1 / 1;
    }

    &.is-expanded {
      .expanding-card-background {
        background-color: rgba(0, 61, 165, 0.25) !important;
        background-blend-mode: multiply;
      }
    }

    .expanding-card-background {
      display: flex;
      flex-direction: column;

      span:has(> [class*=callout]) {
        --default-ucr-bg-element-padding: 1em;
        margin-top: auto;
        margin-inline: calc(-1 * var(--default-ucr-bg-element-padding));
      }

      [class*=callout] {
        font-weight: bold;
        font-size: 28px;
        padding-block: .15em;

        > * {
          display: flex;
          justify-content: center;
          gap: .25em;

          &::after {
            display: block;
            content: '>>';
            font-weight: initial;
          }
        }
      }
    }


    &:hover {
      .card__inner {
        background: transparent;
      }
    }
  }
}
