
main > div#content-container .stat-container {
  //.paragraph--type--statistic {
  //  padding: 0;
  //}

  .stat {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25em;
    padding: 0;
  }

  .stat-number {
    --dims: 4em;

    font-size: 45px;
    padding: .5em;
    display: flex;
    gap: .15em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100em;
    width: var(--dims);
    height: var(--dims);
    background: var(--color-primary-gold);
    color: var(--color-primary-blue);

    &::after {
      margin: 0 auto;
      border-color: var(--color-primary-blue);
      width: 100%;
    }
  }

  .stat-description {
    line-height: 1.4;
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
  }
}
