.cell:has(.testimonial-slider-container) {
  padding-inline: 0 !important;
}

main > div#content-container .testimonial-slider-container {

  .testimonial-item.testimonial-font-dark {
    height: 25em;
    background-position: center center !important;

    //text-shadow: none;
    font-weight: 700;

    &:has(.testimonial-author-image:empty) {
      padding: 2em;

      .media-object-section:has(.testimonial-author-image:empty) {
        display: none;
      }

      .testimonial-main-section {
        --font-size: .6rem;
        --testimonial-padding-left: calc(4 * var(--font-size));
        min-height: 0;
        height: auto;
        padding: 1em;
        margin-inline: auto;
        background: rgba(255, 255, 255, .8);
        font-size: var(--font-size);

        @media(min-width: 30em) {
          --font-size: .8rem;
        }

        @media(min-width: 60em) {
          --font-size: 1rem;
        }

        .testimonial-content,
        .testimonial-author {
          color: var(--color-primary-blue) !important;
        }

        .testimonial-content {
          font-size: 2em;
          line-height: 1.5;

          // misspelling is correct -- the actual element is not native <blockquote>
          blockqoute {
            position: relative;
            padding-left: var(--testimonial-padding-left);
            display: block;
            width: 100%;
            max-width: 26em;

            &::before {
              position: absolute;
              left: 0;
              top: -2.48rem;
              color: var(--color-primary-gold);
              font-size: 4em;
            }
          }
        }

        .testimonial-author {
          margin-left: var(--testimonial-padding-left);
          display: flex;
          gap: .25em;
          font-size: 1.5em;

          &::before {
            display: block;
            content: '-';
          }
        }

      }
    }

    .media-object-section {
      display: flex;
      align-items: center;
    }
  }
}
