// https://brand.ucr.edu/ucr-colors
:root {
  --color-primary-blue: #003DA5;
  --color-primary-gold: #FFB81C;

  --color-secondary-green: #78BE20;
  --color-secondary-blue: #009CDE;
  --color-secondary-orange: #FF671F;
  --color-secondary-yellow: #FBDB65;
  --color-secondary-red: #E4002B;

  --color-black: #000;
  --color-black-80: #4C4C4C;
  --color-black-60: #666666;
  --color-black-40: #999999;
  --color-black-20: #CCCCCC;
  --color-black-10: #E5E5E5;

  --color-hws-basic-needs-red: #964461;
  --color-hws-the-well-orange: #ED6621;
  --color-hws-care-light-orange: #F99416;
  --color-hws-caps-yellow: #FFB510;
  --color-hws-swift-green: #8AC538;
  --color-hws-case-management-teal: #298B84;
  --color-hws-sdrc-blue-gray: #537782;
  --color-hws-police-purple: #624991;
}

